#bio {
  height: 200px;
  width: 75%;
  border: black solid 0.5px;
  background-color: #2F4858;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
  color: whitesmoke;
  display: flex;
  margin: -2% auto 25px auto;
}
